.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(109, 104, 104);
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menubar{
    width: 31px;
    height: 24px;
}

.logo {
    width: 188px;
    height: 31px;
}

.logo:hover {
    cursor: pointer;
}

.menubar {
    margin-right: 12px;
    margin-top: -10px;
}

.logo {
    color: rgb(240, 73, 44);
}

.logo-text {
    fill:white;
}

.search-form {
    background-color: gray;
    display: flex;
    align-items: center;
}

.searchbox {
    width: 30vw;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1rem;
    color: white;
    border: 1px solid rgb(150, 141, 141);
    transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchbox:focus {
    outline: 1px solid rgb(106, 106, 236);
    border: 1px solid rgb(106, 106, 236);
}

.searchbox::placeholder {
    color: rgb(233, 232, 232);
    font-size: 1rem;
}

.search-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.search-btn__img {
    width: 1.5rem;
    height: 1.5rem;
}

.menu {
    width: 1.5rem;
    height: 1.5rem;
}