.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 15px;
    gap: 12px;
}

.container:first-child {
    margin-top: 0x;
}

.info-container,
.top-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chennal-wrapper {
    display: flex;
    align-items: center;
}

.chennal-img {
    overflow: hidden;
    border-radius: 100%;
}

.chennal-title {
    margin-left: 12px;
    color: rgb(117, 117, 105);
}

.chennal-title:hover {
    color: white;
}

.title-wrapper > h1 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    text-align: left;
}

.description-wrapper {
    display: flex;
}

.description-wrapper > span {
    font-size: 1.1rem;
    text-align: left;
}