.container {
    display: flex;
    justify-content: center;
}

.container > .main {
    padding-top: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.title,
.description {
    text-align: left;
    line-height: 2.6rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.info-top {
    display: flex;
    gap: 10px;
}

.description {
    
}

.player iframe {
    width: 100%;
    height: 1000px;
}

.relate-list {

}

.comment-container {
    display: flex;
    margin-top: 14px;
}

.comment-container > .author-thumbnail .thumbnail__image {
    border-radius: 100%;
    overflow: hidden;
}

.comment-main {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comment-main .head .author-name {
    font-weight: 800;
    padding-right: 14px;
}

.comment-main .head .published-date {
    font-size: 0.9rem;
    color: #AAAAAA;
}

.comment-main .head .published-date:hover {
    color: inherit;
    cursor: pointer;
}

.comment-main .body {
    font-size: 1.2rem;
    line-height: 2rem;
}